{% extends 'base.html.twig' %}

{% block body %}
	<div class="container txt-primary-color">
    <h1>Liste des derniers articles</h1>
		{% for post in posts %}
			{# /articles/{id} #}
			<a href="/articles/{{ post.id }}" class="card-link">
				<div class="blog-post">
					<h2 class="blog-post-title">{{ post.title }}</h2>
          <hr class="custom-divider"/>
					<p class="blog-post-tagline">{{ post.tagline }}</p>
					<div class="blog-post-meta d-flex justify-content-between">
						<em>Publié le
							{% if post.updatedAt %}
                {{ post.updatedAt|date("Y-m-d à H:i") }}
              {% else %}
                {{ post.createdAt|date("Y-m-d à H:i") }}
              {% endif %}
						</em>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
